<!DOCTYPE HTML>
<html>
    <head>
        <title>Spring Cloud: Config Client</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Spring Cloud Training</h1>
                <p th:text="'Your rate is: ' + ${rateamount} + ', number of lanes is ' + ${lanes} + ', toll start time is ' + ${tollstart} + ' and encrypted value is ' + ${connstring}"></p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </body>
</html>